[loggers]
keys=root,main,bluetooth,database,biosticker,oximeter,worker-1, worker-2, worker-3, worker-4,worker-5,worker-6,worker-7,worker-8,worker-9,worker-10

[handlers]
keys=consoleHandler, bluetoothFileHandler

[formatters]
keys=simpleFormatter

[logger_root]
handlers=

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=main

[logger_worker-1]
level=DEBUG
handlers=consoleHandler
qualname=worker-1

[logger_worker-2]
level=DEBUG
handlers=consoleHandler
qualname=worker-2

[logger_worker-3]
level=DEBUG
handlers=consoleHandler
qualname=worker-3

[logger_worker-4]
level=DEBUG
handlers=consoleHandler
qualname=worker-4

[logger_worker-5]
level=DEBUG
handlers=consoleHandler
qualname=worker-5

[logger_worker-6]
level=DEBUG
handlers=consoleHandler
qualname=worker-6

[logger_worker-7]
level=DEBUG
handlers=consoleHandler
qualname=worker-7

[logger_worker-8]
level=DEBUG
handlers=consoleHandler
qualname=worker-8

[logger_worker-9]
level=DEBUG
handlers=consoleHandler
qualname=worker-9

[logger_worker-10]
level=DEBUG
handlers=consoleHandler
qualname=worker-10


[logger_database]
level=DEBUG
handlers=consoleHandler
qualname=database

[logger_bluetooth]
level=DEBUG
handlers=consoleHandler, bluetoothFileHandler
qualname=bluetooth

[logger_oximeter]
level=DEBUG
handlers=consoleHandler
qualname=oximeter

[logger_biosticker]
level=DEBUG
handlers=consoleHandler, bluetoothFileHandler
qualname=biosticker

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=simpleFormatter
args=(sys.stdout,)

[handler_bluetoothFileHandler]
class=handlers.TimedRotatingFileHandler
formatter=simpleFormatter
level=WARNING
args=('logs/acquisition/bluetooth.log','M',10)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=